<h1><%= @task.description %></h1>
<p>Hosted By: <%= @task.user.name%></p>
<p>Posted on: <%= @task.date %> @ <%= @task.time %></p>
<p>Task's Deadline: <%= @task.deadline %></p>
<p>Accepted? <%= @task.accepted %></p>
<p>Completed? <%= @task.completed %></p>
<p>Pay: <%= @task.cost %></p><br><br>
