<h1><%= @task.description %></h1>
<p>By: <%= @task.user.name%></p>
<p>Pay: <%= @task.cost %>
<p>Accepted? <%= @task.accepted %>
<p>Completed? <%= @task.completed %>

<%= button_to 'Add to Schedule', schedule_path(@task.worker.schedule), method: :get %>