<h1><%= @task.user.name %>'s Request(s)</h1>

<div>
   <h3><strong>Task requested:</strong></h3>
   <p><%= @task.description %></p>
   <h3><strong>Compensation amount:</strong></h3>
   <p>$<%= @task.cost %></p>
   <h3><strong>Deadline:</strong></h3> 
   <p><%= @task.deadline %></p>
   <h3><strong>Worker:</strong></h3>
   <p><%= link_to @task.worker.name, worker_path(@task.worker) %></p>
</div>

<div>
   <h3>Task Status:</h3>
   <% if @task.completed == true %>
      <p>All Done!</p>
   <% else %>
      <p>Completed?</p>
      <%= form_for @task, method: :put do |f| %>
         <%= f.radio_button :completed, "Yes" %>
         <%= f.label "Yes" %>
         <%= f.submit %>
      <% end %>
   <% end %>
</div>


