<h1><%= @task.description %></h1>
<p>Hosted By: <%= @task.user.name%></p>
<p>Posted on: <%= @task.date %> @ <%= @task.time %></p>
<p>Task's Deadline: <%= @task.deadline %></p>
<p>Accepted? <%= @task.accepted %></p>
<p>Completed? <%= @task.completed %></p>
<p>Pay: <%= @task.cost %></p><br><br>


<h1><%= @task.user.name %>'s Request</h1>

<div>
   <h3><strong>Task requested:</strong></h3> <br>
   <p><%= @task.description %></p> <br>
   <h3><strong>Compensation amount:</strong></h3> <br>
   <p><%= @task.cost %></p>
   <h3><strong>Deadline:</strong></h3> <br>
   <p><%= @task.deadline %></p>
   <h3><strong>Accepted?</strong></h3> <br>
   <h3><strong>Completed?</strong></h3> <br>
   <h3><strong>Worker:</strong></h3>
   <p><%= @task.worker.name %></p>
</div>


