<% if flash[:errors] %>
    <% flash[:errors].each do |e| %>
      <p style="color:red;"><%= e %></p>
    <% end %>
<% end %>

<%= form_for @user do |f| %>
   <%= f.label "Name:" %>
   <%= f.text_field :name %> <br>
   <%= f.label "Username:" %>
   <%= f.text_field :username %> <br>
   <%= f.label "Password:" %>
   <%= f.password_field :password %> <br>
   <%= f.label "Bio:" %>
   <%= f.text_area :bio %> <br>
   <%= f.submit %>
<% end %>

<br><br><br>
<p>OR If you would like to?</p>
<%= button_to "Back to All Users", users_path, method: :get %><br>
