<% if flash[:errors] %>
    <% flash[:errors].each do |e| %>
      <p style="color:white;"><%= e %></p>
    <% end %>
<% end %>

<%= form_for @user do |f| %>
  <div class='form-input'>
    <%= f.label "Name:" %>
    <%= f.text_field :name %>
  </div>
  
  <div class='form-input'>
    <%= f.label "Username:" %>
    <%= f.text_field :username %>
  </div>
   
   <div class='form-input'>
   <%= f.label "Password:" %>
   <%= f.password_field :password %>
  </div>

  <div class='form-input'>
    <%= f.label "Bio:" %>
    <%= f.text_area :bio %>
  </div>

   <%= f.submit class: "form-btn" %>
<% end %>
