<h3>This is <%= @user.name %>'s page!</h3>

<h5>Bio: <%= @user.bio %></h5>

<h5>Reviews:</h5>

<% if @user.reviews.length < 1 %>
    <p>No Reviews by this User yet!</p>
<% else %>
    <ul>
        <% @user.reviews.each do |r| %>
            <li><%= r.title %></li><br>
            <li><%= r.content %></li>
        <% end %>
    </ul>
<% end %> 

<br>
<%= button_to "New Task", new_task_path, method: :get %>

<br>
<div>
    <p><i><%= @user.name %> task history:</i></p>
        <ul>
            <% @user.tasks.each do |task| %>
                <li>Worker: <%= link_to task.worker.name, worker_path(task.worker) %></li>
                <li>Skill: <%= task.skill.name %>
                <li>Description: <%= task.description %></li>
                <li>Cost: $<%= task.cost %></li>
                <li>Deadline: <%= task.deadline %></li>
                <li>Completed? <%= task.completed %></li>
            <% end %>
        </ul>
</div>

<br>
<%= button_to 'Edit User', edit_user_path(@user), method: :get %>
<br>
<%= button_to "Delete User",  user_path(@user), method: :delete%>
