<% if flash[:errors] %>
   <% flash[:errors].each do |e| %>
      < p style="color:white;"><%= e %></p>
   <% end %>
<%= end %>

<%= form_for @skill do |f| %>
   <div class='form-input'>
   <%= f.label "Name:" %>
   <%= f.text_field :name %>
   </div>

   <div class='form-input'>
   <%= f.label "Category:" %>
   <%= f.text_field :category %>
   </div>


   <%= f.submit class: "form-btn" %>
<% end %>