<h3>These are all the skills!</h3>

<div>
   <ul>
      <% @skills.each do |skill| %>
         <li><%= link_to skill.name, skill_path(skill) %></li>
      <% end %>
   </ul>
</div>

<%= button_to 'New Skill', new_skill_path, method: :get %>




<br><br><br>
 <%# THE FOLLOWING BUTTONS ARE ALL FOR CONVINENCES DURING DEVELOPMENT%>
 <%# CAN BE DELETE AFTER WE ARE DONE%>
<%= button_to "New Task", new_task_path, method: :get %><br><br>
<%= button_to "See All Users", users_path, method: :get %><br><br>
<%= button_to "See All Workers", workers_path, method: :get %><br><br>
<%= button_to "See All Reviews", reviews_path, method: :get %><br><br>
<%= button_to "See All Skills", skills_path, method: :get %><br><br>