<h3>This is <%= @worker.name %>'s page!</h3>

<h5>Bio: <%= @worker.bio %></h5>

<h5>Skills:</h5>
    <% @worker.worker_skills.each do |ws| %>
        <ul>
            <li><%= link_to ws.skill.name, skill_path(ws.skill) %> | Remove this skill?
            <%= button_to "Remove", worker_skill_path(ws) , method: :delete %></li> <br>
        </ul>
    <% end %>
            <%= button_to "Add a Skill", new_worker_skill_path, method: :get %>

<h5>Tasks:</h5>
    <% @worker.tasks.each do |t|%>
        <ul>
            <li><%= link_to t.description, task_path(t) %> @ <%= t.deadline %></li>        
        </ul>
    <% end %>

<h5>Reviews:</h5>
    <% if @worker.reviews.length < 1 %>
        <p>No Reviews for this worker yet!</p>
    <% else %>
        <ul>
            <% @worker.reviews.each do |r| %>
                <div>
                    <li><em><%= r.title %></em> - <%= r.content %></li>
                    <%# button_to 'Remove Review', method: :delete %>
                </div>
            <% end %>
        </ul>
    <% end %>
<br>
<%= button_to 'Add Review', new_review_path, method: :get %>

<br>
<%= button_to 'Edit Worker', edit_worker_path(@worker), method: :get %>

<br>
<%= button_to "Delete",  workers_path, method: :delete%>