<!DOCTYPE html>
<html>
  <head>
    <title>Hustler</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <% if logged_in? %>
    <div class="nav-bar">
      <ul class="nav-list">
        <li class="nav-tabs logo">Hustler</li>
        <li class="nav-tabs">Welcome, <%= @current_user.name %></li>
        <li class="nav-tabs">Home</li>
        <li class="nav-tabs"><%= link_to "Profile", user_path(@current_user) %></li>
        <li class="nav-tabs"><%= link_to "Tasks", tasks_path %></li>
        <li class="nav-tabs"><%= link_to "Reviews", reviews_path %></li>
        <li class="nav-tabs"><%= link_to "Workers", workers_path %></li>
        <li class="nav-tabs right"><%= button_to "Logout", logout_path, method: :delete %></li>
      </ul>
    </div>
  <% else %>
    <div class="nav-bar">
      <ul class="nav-list">
        <li class="nav-tabs logo">Hustler</li>
        <li class="nav-tabs">Home</li>
        <li class="nav-tabs"><%= link_to "Workers", workers_path %></li>
        <li class="nav-tabs"><%= link_to "Skills", skills_path %></li>
        <li class="nav-tabs"><%= link_to "Reviews", reviews_path %></li>
        <li class="nav-tabs right"><%= link_to "Login", login_path %> / <%= link_to "Sign up", new_user_path %></li>
      </ul>
    </div>
  <% end %>
    

  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
